.center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.uppercase{
    text-transform: uppercase;
}
.felx{
    display: flex;
}
.bolder{
    font-weight:bolder;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.mx-2{
margin-left: 12px;
margin-right: 12px;
}
.felxw{
    flex-wrap: wrap;
}
.item{
    width: 116.8px;
}
.icon{
    width: 20px;
    height: 20px;
}
.desktop-iconUser {
    position: relative;
    bottom: 20px;
    left: 37px;
    display: block;
}
.sprites-headerUser {
    width: 24px;
    height: 24px;
    background-position: -299px -56px;
    background-position-x: -299px;
    background-position-y: -56px;
}
.myntraweb-sprite {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
}
.tag{
    margin:0;
}
.item1{
    padding: 0%;
    width: 127.5px;
}
.item2{
    width: 140.2px;
}
.item3{
    width: 233.7px;
}
.red{
    color: red;
    font-size: 11px;
}