.center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.uppercase{
    text-transform: uppercase;
}
.felx{
    display: flex;
}
.bolder{
    font-weight:bolder;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.mx-2{
margin-left: 12px;
margin-right: 12px;
}
.felxw{
    flex-wrap: wrap;
}
.item{
    width: 93.5px;
}
.icon{
    width: 20px;
    height: 20px;
}
.desktop-iconUser {
    position: relative;
    bottom: 20px;
    left: 37px;
    display: block;
}
.sprites-headerUser {
    width: 24px;
    height: 24px;
    background-position: -299px -56px;
    background-position-x: -299px;
    background-position-y: -56px;
}
.myntraweb-sprite {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
}
.tag{
    margin:0;
}
.item1{
    padding: 0%;
    width: 102px;
}
.item2{
    width: 112.2px;
}
.item3{
    width: 186.7px;
}
.red{
    color: red;
    font-size: 11px;
}
strong{
    font-weight: 500;
}
#profile {
    width: 25px;
    height: 22px;
    padding: 0px 7px;
}
#wish{
    width: 25px;
    height: 21px;
    padding: 0px 13px;

}
#bag{
    width: 20px;
    height: 20px;
    padding: 0px 3px;
}
.head{
    font-size:17px;
}
#black{
    color:rgba(0, 0, 0, 0);
    font-size: 14px;
}
a{
    text-decoration: none;
}
.link a{
        color: #696b79;
        display: block;
        font-size: 15px;
        text-decoration: none;
        padding-bottom: 5px;
        cursor: pointer;
        line-height: normal;
}
#icong{
    height: 42px;;
}
ol li strong #Black {
    color: black;
}